
.main{
    margin-top:2em;
    position:relative;
    font-size:22px;
}

.main p{
  margin-left:14%;
  margin-right:10%;
  position:relative;

}

.main h2 {
    font-size: 25px;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    position:relative;
    /*font-family: 'Lobster', cursive;*/
}


