main h2{
  font-size:28px;
  text-align:center;
}
main h4{
  font-size:18px;
  text-align:center;
}
#content{
    text-align: justify;
    font-size: 20px;
    line-height: 1cm;
    margin-left: 10em;
    margin-right:10em;
}
footer img{
    display: inline;}
footer h2{
  text-align:center;
}
#facebook{
  margin-left:30em;
}