
h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond', serif;
}

html {
  background: #ECEFF1;
}
a:hover {
    text-shadow: 0 0 10px #35404f;
}

/* Header */

header {
  /*background: url("http://codingnutty.github.io/imgs/header1.jpg?raw=true");*/
  height: 50px;
  -moz-box-shadow: 0 0 10px #35404f;
  -webkit-box-shadow: 0 0 10px #35404f;
  box-shadow: 0 0 10px #35404f;
  font-family: 'Dancing Script', cursive;
}

 ul {
  margin-left:10em;
  font-size:20px;
  text-decoration: none;
  list-style-type: none;
}

#links li {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size:22px;
  padding-right: 40px;
  margin-top:18px;
}

#links a{
  text-decoration: none;
  list-style-type: none;
  color: #BF360C;
}


header h1 {
  font-family: 'Dancing Script', cursive;
  color: #263238;
  margin-top:8px;
  margin-left:1.7em;
  font-size:30px;
  position:absolute;
}

/*body*/
body{
  background :url("http://static.tumblr.com/f5e9633c784580d7a3ebc2a163e7bf4b/v6jnbu8/wmKmqvcoc/tumblr_static_more-tumblr-backgrounds-for-guys-light-gray_-_kopie.jpg?raw=true");
  background-size:cover;
}

section {
  font-size: 18px;
  padding-right: 1em;
  font-family: 'EB Garamond', serif;
}
.main {
    text-align: justify;
    font-size: 20px;
    line-height: 1cm;
}

/* Footer */

footer {
  clear:both;
  width:100%;
  margin-left:30em;
}

footer h3 {
  color: #f6f5f2;
  /*font-family: Open Sans Condensed;*/
  font-family: 'EB Garamond', serif;
  margin: 5px auto auto 5px;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer li {
  display: inline-block;
}

footer img {
  margin: auto 15px 10px 15px;
  float:none;
  height:3em;
  width:3em;
}





