header{
  text-align: center;
  font-color: white;
  font-family: 'Kaushan Script', cursive;
  background-color:#616161;
}
header h1{
    display: inline;
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    color:white;
}
body{
    background-color:#F0F4C3;
}

body img{
    width: 13em;
    height: 13em;
}

#image1{
  top: 380px;
  left:20px;
  position:absolute;
}

#image2{
  top:160px;
  left: 20px;
  position:absolute;
}


header ul{
    padding: 10px;
    background: rgba(0,0,0,0.5);
    color:white;
}

header li{
    display: inline;
    padding:0 30px 0 30px;
    font-size: 30px;
}
header a{
    color: white;
}
body h2{
  text-align: center;
  font-family: 'Lobster', cursive;
}
section{
  margin-left:30%;
  margin-right:10%;
}
.main {
    text-align: justify;
    font-size: 20px;
    line-height: 1cm;
    float:left;
}
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
    text-align: center;
    font-family: 'Lobster', cursive;
}

footer {
  clear:both;
  bottom:0px;
}

footer h2{
  text-align:left;
  font-size:30px;
}
footer img{
  height:5em;
  width:5em;
}
