a:hover {
    text-shadow: 0 0 10px #35404f;
}
body{
    background :url("http://codingnutty.github.io/imgs/bg.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;

}
/* Header */
header {
  /*background-color: black;*/
 /* opacity:0.4;*/
  height: 70px;
  -moz-box-shadow: 0 0 10px #35404f;
  -webkit-box-shadow: 0 0 10px #35404f;
  box-shadow: 0 0 10px #35404f;
  font-family: 'EB Garamond', serif;
}

header ul {
  list-style-type: none;
  float:right;
  margin: 40px 15px 0px 0px;
  font-size:20px;
}

header li {
  display:inline-block;
  margin-left: 15px;
}

header a {
  text-decoration: none;
  color: #263238;
}


header h1 {
  display: inline-block;
  color: #263238;
  margin-left: 10px;
  font-size:30px;
}

/*body*/

.main img {
  float: left;
  margin-left: 0px;
  width:80%;
  padding-top:30px;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 50%;
  margin-top:5em;
  text-align:justify;
}

section {
  font-size: 18px;
  padding-right: 1em;
  font-family: 'EB Garamond', serif;
}


/* Footer */
footer {
  clear:both;
  width:100%;
}

footer h3 {
  color: black;
  font-family: 'EB Garamond', serif;
  margin: 5px auto auto 5px;
  font-size:30px;
  text-align: center;

}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer li {
  display: inline-block;
}

footer img {
  margin: auto 15px 10px 15px;
  float:none;
}

footer p {
  text-align: center;
  color: #7acccc;
}