a:hover {
    text-shadow: 0 0 10px #35404f;
}
body{
    /*background :url("http://codingnutty.github.io/imgs/bg.jpg?raw=true");*/
    background: url("http://codingnutty.github.io/imgs/San-Francisco-Golden-Gate-Bridge.jpg?raw=true");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    }


/* Header */
header {
  /*background: url("http://codingnutty.github.io/imgs/header1.jpg?raw=true");*/
  height: 50px;
  -moz-box-shadow: 0 0 10px #35404f;
  -webkit-box-shadow: 0 0 10px #35404f;
  box-shadow: 0 0 10px #35404f;
  font-family: 'Dancing Script', cursive;
}

 ul {
  margin-left:-16em;
  font-size:20px;
  text-decoration: none;
  list-style-type: none;
}

#links li {
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  position: relative;
  font-size:22px;
  padding-right: 40px;
  margin-top:18px;
}

#links a{
  text-decoration: none;
  list-style-type: none;
  color: #BF360C;
}


header h1 {
  font-family: 'Dancing Script', cursive;
  color: #263238;
  margin-top:8px;
  margin-left:1.7em;
  font-size:30px;
  position:absolute;
}

/*body*/

section img {
  position:relative;
  margin-left: -30em;
  margin-top:5em;
  width:16%;
  border-radius: 10%;
  border-image:1px solid red;
  image-position:center;
}
section p {
    font-size: 22px;
  }

#right {
position:relative;
  width: 50%;
  margin-left: 5em;
  margin-top:50px;
  text-align:center;
}

section {
  font-size: 18px;
  padding-right: 1em;
  font-family: 'EB Garamond', serif;
}


/* Footer */
footer {
  clear:both;
  width:100%;
  margin-left:-17em;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer li {
  display: inline-block;
}

footer img {
  margin: auto 15px 10px 15px;
  float:none;
  height:3em;
  width:3em;
}

footer p {
  text-align: center;
  color: #BF360C;
  margin-left:0em;
  font-family: 'EB Garamond', serif;
  font-size:30px;

 }