
/* body */
body #content{
  top:5em;
  left:10em;
  position:relative;
}

#content h3{
  font-size:40px;
}

body #maintext{
  top:-2em;
  position:relative;
}

h6{
  font-size:20px;
}

#overview{
  top:-25px;
  position:relative;
}

div #section{
  top:-2em;
  position:relative;
}
.heading{
  font-size:20px;
}

.description{
  left:-10em;
}


