.static{
  display:inline-block;
  position:relative;
  left:3em;
}
.relative{
  display:inline-block;
  position:relative;
  left:2em;

}
.absolute{
display:inline-block;
position:relative;
left:2em;
}
.all{
  display:inline-block;
  position:relative;
  left:2em;
}
