a:hover {
  font-weight: bold;
}
code{
  background-color:black;
  font-family: 'Inconsolata';
  color: white;
  margin-left:10px;
}

span{
  background-color:black;
  font-family: 'Inconsolata';
  color: #76FF03;
  margin-left:10px;
}

div{
background-color:black;
}